*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: "Carlito",sans-serif;
    color: white;
    text-decoration: none;
}

/*------GENERAL DE TODO--------*/

/*------------------HEADER INICIO------------------*/
.header-box{
    background-color: rgb(0, 0, 0);
    font-weight: bold;
}

.nav-content{
    display: flex;
    flex-direction: row;
    position: relative;
}

.nav-content-logo{
    flex: 1;
    padding: 10px;
}

.nav-content-logo img{
    max-width: 60px;
}

.nav-content-btn{
    display: none;
}

.nav-content-menu{
    flex: 9;
    display: flex;
    flex-direction: row;
}

.nav-content-menu ul{
    flex: 8;
    height: 100%;

    display: flex;
    gap: 15px;
}

.nav-content-menu-item{
    flex: 1;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-content-menu-item a{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.3rem;
    height: 60%;
    width: 60%;
}

.nav-content-login{
    flex: 2 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-content-login button{
    width: 60%;
    height: 30px;
    border: none;
    border-radius: 3px;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
}

/*------------------HEADER FIN------------------*/

/*------------------MAIN INICIO------------------*/
/*----------- GENERAL MAIN -----------*/
.main-box2,.main-box3,.main-box4{
    background-color: rgba(15,15, 15, 0.85);
}

.main-background{
    position: relative;
}

.main-background::before{ /*Esto es un pesudo-elemento que sirve como una box para el fondo sin que afecte a los demás elementos*/
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center;
    background-attachment: fixed;
    animation: background-transition 18s infinite ease;
}

.msjbox{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;    
    margin: 25px 0px;
}
/*----------- BOX1 -----------*/
.main-box1 {
    display: flex;
    flex-direction: row;
}

.main-box1-img{
    flex: 0 0 150px;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.main-box1-img img {
    max-width: 100%;
}

.main-box1-txt{
    background-image: url(../multimedia/commingsoon.webp);
    background-position: center;
    background-size: cover;
}

.main-box1-txt-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 20px;
}

.main-box1-txt-content h2{
    flex: 3;
    font-size: 35px;
    width: 100%;
    align-content: center;
}

.main-box1-txt-content p{
    flex: 7;
    font-size: 20px;
    text-align: justify;
    align-content: center;
    width: 100%;
    font-weight: bold;
}

/*----------- FIN BOX1 -----------*/

/*----------- BOX2 -----------*/
.main-box2{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-box2-topsale {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*En caso se queda sin espacio hace un 'salto de linea' para abajo*/
    justify-content: center;
    overflow: hidden; /*Esto evita el desbordamiento*/
}

.main-box2-topsale-item{
    flex: 0 0 300px;
    border-radius: 15px;
    margin: 10px;
    background-color: rgb(40, 30, 30,0.7);
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px rgba(50, 5, 5, 0.85),
                4px 4px rgba(10, 10, 10, 0.85);
}

.main-box2-topsale-item-txt{
    height: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main-box2-topsale-item-img img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius:  15px;
}

.main-box2-topsale-item h2{
    text-align: center;
    font-size: 25px;
    flex: 3;
    align-content: center;
}

.main-box2-topsale-item p{
    font-size: 15px;
    text-align: justify;
    padding: 5px 25px;
    flex: 7;
}

/*----------- FIN BOX2 -----------*/

/*----------- BOX3 -----------*/

.main-box3{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
}

.main-box3-geners{
    width: 90%;
    margin: 15px 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.main-box3-geners-item{
    width: 220px;    
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px rgba(60, 10, 10, 0.85),
                4px 4px rgba(10, 10, 10, 0.85);
}

.main-box3-geners-item img{
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.main-box3-geners-item-txt{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-box3-geners-item-txt-genre{
    font-size: 25px;
    font-weight: bold;
}

.main-box3-geners-item-txt-desc{
    text-align: center;
}
/*----------- FIN BOX3 -----------*/


/*----------- BOX4 -----------*/

.main-box4{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
}

.main-box4-news{
    width: 90%;
    height: auto;
    margin: 15px 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}

.main-box4-news-item{
    width: 350px;    
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(0, 0, 0,0.75);

    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px rgba(60, 10, 10, 0.85),
                4px 4px rgba(10, 10, 10, 0.85);
}


.main-box4-news-item img{
    flex: 6;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover; /*obliga a la imagen a no salirse del contenedor*/
    z-index: 0;
    position: relative;
}

.main-box4-news-item-content{
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.main-box4-news-item-content-txt1{
    flex: 3;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: 
                2px 2px 0px rgba(120, 20, 20, 0.85),
                -2px -2px 0px rgba(120, 20, 20, 0.85),
                -2px 2px 0px rgba(120, 20, 20, 0.85),
                2px -2px 0px rgba(120, 20, 20, 0.85)
                ;
}

.main-box4-news-item-content-txt2{
    flex: 7;
    text-align: justify;
}

/*----------- FIN BOX4 -----------*/


/*-------------------- MAIN FIN --------------------*/


/*-------------------- FOOTER --------------------*/

footer{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
}

/*----------- BOX1 -----------*/
.footer-box1{
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.footer-box1-img{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.footer-box1-img img{
    justify-items: center;
    overflow: hidden;
    max-width: 120px;
    object-fit: contain;
}

.footer-box1-content{
    flex: 7;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    align-content: center;
}

.footer-hr{
    display: none;
}

/*----------- BOX2 -----------*/
.footer-box2{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-box2-txt{
    margin: 15px 0px;
    font-size: 25px;
    text-align: center;
}

.footer-box2-icons {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.footer-box2-icons img{
    flex: 1;
    margin: 15px 10px;
    align-items: center;
    height: 50px;
    object-fit: contain;
}

.footer-box2-copy{
    margin-bottom: 15px;
    text-align: center;
}

hr{
    margin: 25px 0px;
    width: 85%;
}

/*ANIMACIONES Y MEDIA QUERYS :D*/

@keyframes ShinyBox {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes background-transition {
    0%{
        background-image: url(../multimedia/main-background1.jpg);
    }
    25%{
        background-image: url(../multimedia/main-background2.jpg);
    }
    50%{
        background-image: url(../multimedia/main-background3.jpg);
    }
    75%{
        background-image: url(../multimedia/main-background4.jpg);
    }
    100%{
        background-image: url(../multimedia/main-background1.jpg);
    }
}

@media (width <= 768px) {
    /*-------------- HEADER --------------*/
    .nav-content {
        flex-direction: column;
        justify-content: center;
    }

    .nav-content-logo{
        position: absolute;
        top: 5px;
        right: 15px;
        padding: 0px;
    }   

    .nav-content-logo img{
        max-height: 55px;
    }

    .nav-content-btn {
        display: flex;
        font-size: 2.2rem;
        margin: 10px;
        background: none;
        border: none;
    }

    .nav-content-menu{
        display: none;
        background-color: rgb(10, 10, 10);
        transition: max-height 0.5s ease-in-out;

    }

    .nav-content-menu ul {
        display: flex;
        flex-direction: column; 
        width: 100%;
        gap: 0;
    }

    .nav-content-menu-item{
        height: 50px;
        padding: 5px 0px;
    }

    .nav-content-menu-item a {
        width: 100%;
        
    }

    .nav-content-login{
        margin: 10px 0px;
        width: 100%;
        
    }
    
    /*-------------- MAIN --------------*/

    .main-box1{
        flex-direction: column;
    }
    
    .main-box3-geners-item{
        width: 150px;
        height: 200px;
    }

    footer{
        flex-direction: column;
    }

    .footer-hr{
        display: block;
        align-self: center;
    }
}